.MouseCircle{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--dark-mode-on);
  position: fixed;
  z-index: 100;
  top: -10px;
  left: -10px;
  pointer-events: none;
}