*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark-mode-on);
    font-family: 'Spectral', serif;
}

:root{
    --dark-mode-off: #ffffff;
    --dark-mode-on: #000000;
    --main-color: rgb(212, 139, 27 );
    
    --computer_svg_width_random1: 100% ;
    --computer_svg_width_random2: 100% ;
    --computer_svg_width_random3: 100% ;
    --computer_svg_width_random4: 100% ;
    --computer_svg_mouse_position_x: 0%;
    --computer_svg_mouse_position_y: 0%;

    --height_parcour: 100vh;
}

body{
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--dark-mode-off);
}

#mainpage{
    padding-left: 10vw;
    padding-right: 10vw;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hidden{
    background-color: var(--dark-mode-off) !important;; 
}

.opacity_null{
    opacity: 0;
}

.dpnone{
    display: none !important;
}

/* -------------------------------------loading page------------------------------------- */

.parent_Animation_loading_page{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 20;
}

.Animation_loading_page{
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: #000000;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    gap: 50px;
    transition: 3s ease;
}

.Animation_loading_page2{
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: #000000;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    gap: 50px;
    transition: 3s ease;
}

.Animation_loading_page_add{
    transform: translateX(-100%);
}

.Animation_loading_page2_add{
    transform: translateX(100%);
}

.txt_Animation_loading_page{
    color: #ffffff;
    font-size: 40px;
}

.txt_Animation_loading_page2{
    color: #ffffff;
    font-size: 30px;
    padding: 30px;
}

/* -------------------------------------section------------------------------------- */

section{
    width: 100vw;
    background-color: var(--dark-mode-off);
    margin-bottom: 10px;
}

h2{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
    font-size: 25px;
}

h3{
    text-align: center;
}

/* -------------------------------------logo svg------------------------------------- */

.logo_svg{
    fill: var(--dark-mode-on);
    width: 75px;
    height: 75px;
    transform: translate(-50%);
    margin-top: 20px;
    position: fixed;
    transition: 1s ease;
    cursor: pointer;
    z-index: 10;
}

.logo_svg_anim{
    fill: var(--main-color) ;
    width: 75px ;
    height: 75px ;
    transform: translate(-50%);
    margin-top: 20px;
    position: fixed;
    transition: 1s ease;
    cursor: pointer;
    z-index: 10;
}

.logoSvgbasic{
    margin-left: 50px;
    margin-top: 20px;
}

.logo_svg2{
    margin-left: -200px;
    margin-top: 20px;
}

.logo_svg3{
    margin-left: 50px;
    margin-top: -200px;
}

.path1_logo{
    stroke: var(--dark-mode-on);
    stroke-width: 20;
}



.path2_logo{
    stroke: var(--main-color);
    stroke-width: 20;
    stroke-dasharray: 0.7;
    stroke-dashoffset: 0.7;
    transition: stroke-dashoffset 2s ease-in-out;
}

.path2_logo_anim{
    stroke-dashoffset: 0;
}

/* -------------------------------------dark mode svg------------------------------------- */

.divbtdarkmode{
    width: 75px;
    height: 75px;
    position: fixed;
    margin-left: 95vw;
    transform: translate(-50%);
    margin-top: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 13;
}

.darkmode_svg{
    fill: var(--dark-mode-on);
    width: 50px;
    height: 50px;
    position: fixed;
    transition: 1s ease;
    cursor: pointer;
    z-index: 10;
}

.darkmode_svg_spark{
    transition: 1s ease;
}

.darkmode_svg_spark0{
    transform: rotate(0deg);
}

.darkmode_svg_spark_anim{
    transform: rotate(10deg);
}

.darkmode_svg_spark_anim2{
    transform: rotate(-10deg);
}

.darkmode_svg_sun{
    transition: 1s ease;
}

.darkmode_svg_sun_topleft_anim{
    transform: translate(-3%, -3%);
}

.darkmode_svg_sun_topright_anim{
    transform: translate(3%, -3%);
}

.darkmode_svg_sun_botleft_anim{
    transform: translate(-3%, 3%);
}

.darkmode_svg_sun_botright_anim{
    transform: translate(3%, 3%);
}

.darkmode_svg_sun_top_anim{
    transform: translateY(-3%);
}

.darkmode_svg_sun_bot_anim{
    transform: translateY(3%);
}

.darkmode_svg_sun_left_anim{
    transform: translateX(-3%);
}

.darkmode_svg_sun_right_anim{
    transform: translateX(3%);
}

/* -------------------------------------burger------------------------------------- */

.burger{
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
    position: fixed;
    margin-left: 95vw;
    transform: translate(-50%);
    margin-top: 20px;
    z-index: 13;
}

.burger:hover .bar{
    background-color: var(--dark-mode-on);
}

.bar{
    width: 45px;
    height: 4px;
    background-color: var(--main-color);
    margin-top: 10px;
}

.bar_mid{
    width: 30px;
}

.bar_up , .bar_down{
    transition: 0.4s;
    transform: rotate(0deg);
}

.barAnimationTop{
    transform: rotate(45deg) translate(10px, 10px);

}

.barAnimationBot{
    transform: rotate(-45deg) translate(10px, -10px);
}

/* -------------------------------------circle scroll svg------------------------------------- */

.div_circle_scroll_svg{
    margin-left: 5vw;
    transform: translateX(-50%);
    margin-top: 85vh;
    position: fixed;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 13;
}

.circle_scroll_svg{
    fill: var(--dark-mode-on);
    width: 50px;
    height: 50px;
    position: fixed;
    transition: 1s ease;
    cursor: pointer;
    z-index: 10;
}

.path_circle_scroll{
    transform: rotate(90deg);
}
/* -------------------------------------header------------------------------------- */

header{
    width: 40vw;
    height: 60px;
    margin-left: 50%;
    transform: translate(-50%, -200px);
    display: flex;
    border-radius: 15px;
    background-color: var(--dark-mode-off);
    padding: 20px;
    transition: 1s ease;
    position: fixed;
    z-index: 10;
}

header.animationHeader{
    transform: translate(-50%, 20px);
}

nav{
    width: 100%;
    height: 100%;
}

nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    list-style: none;
    background: none;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.5s linear;
}

nav ul li a{
    text-decoration: none;
    color: var(--dark-mode-on);
    font-size: 20px;
}

nav ul li a:after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: rgb(212, 139, 27 );
    transition: 300ms;
}

nav ul li a:hover:after {
    width: 100%;
}

.nav_selected{
    border: 1px solid var(--main-color);
}


.nav_selected_txt{
    color: var(--dark-mode-off);
}

/* -------------------------------------home------------------------------------- */

#home{
    height: 100vh;
}


/* -------------------------------------projets------------------------------------- */

#project{
    height: 120vh;
    width: 100%;
}

.Galleryproject{
    display: grid;
    grid-template-columns: repeat(3,  1fr);
    gap: 20px;
    justify-content: center;
    width: 70vw;
    height: 100vh;
    margin-left: 50%;
    transform: translateX(-50%);
}

.divproject{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 0px 23px -9px var(--dark-mode-on);
    -webkit-box-shadow: 0px 0px 23px -9px var(--dark-mode-on);
    -moz-box-shadow: 0px 0px 23px -9px var(--dark-mode-on);
}

.divproject::before{
    content: "";
    position: absolute;
    transition: 0.5s ;
    width: 300%;
    height: 600%;
    animation: spiningBorderHover 3s linear infinite;
}

.divproject::after{
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    content: "";
    position: absolute;
    background-color: var(--dark-mode-off);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divproject:hover::before{
    background-image: conic-gradient(
        var(--main-color) 20deg,
        transparent 120deg
    );
}

@keyframes spiningBorderHover{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

.divproject1{
    grid-column: 1/2;
    grid-row: 1/2;
}

.divproject2{
    grid-column: 2/4;
    grid-row: 1/2;
}

.divproject3{
    grid-column: 1/3;
    grid-row: 2/4;
}

.divproject4{
    grid-column: 3;
    grid-row: 2/3;
}

.divproject5{
    grid-column: 3;
    grid-row: 3;
}

.divproject6{
    grid-column: 1;
    grid-row: 4;
}

.divproject7{
    grid-column: 2;
    grid-row: 4;
}

.divproject8{
    grid-column: 3;
    grid-row: 4;
}

/* -------------------------------------timeline------------------------------------- */

#parcour{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: calc(var(--height_parcour) + 30vh);
    width: 100%;
}

#parcour_svg{
    width: 10px;
    height: var(--height_parcour);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 5;
}

#parcour_bar_svg {
    width: 10px;
    height: 10px;
    fill: var(--main-color);
    stroke-width: 2;
    z-index: 12;
}

#parcour_bar_svg2 {
    width: 10px;
    height: var(--height_parcour);
    stroke: var(--main-color);
    stroke-width: 2;
    fill-opacity: 0;
    z-index: 11;
    
}

.bullet_point_parcour{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    transform: translateY(-100%) translateX(-10px);
    transition: 1s;
    opacity: 0;
    background-color: var(--main-color);
    display: flex;
}

.bullet_point_parcour1{
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 2;
}

.bullet_point_parcour2{
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 3;
    grid-row-end: 4;
}

.bullet_point_parcour3{
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 5;
    grid-row-end: 6;
}

.bullet_point_parcour4{
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 7;
    grid-row-end: 8;
}

.bullet_point_parcour_animation{
    transform: translateY(200%) translateX(-10px);
    opacity: 100;
}

.divtimeline{
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    grid-template-rows: 1% 24% 1% 24% 1% 24% 1% 24% 1%;
    height: var(--height_parcour);
    width: 80vw;
    margin-left: 50%;
    transform: translate(-50%);
    
}

.parcour_elmt{
    background-color: red;
    transition: 1s;
    display: flex;
    margin: 10px;
}

.parcour_elmt1{
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 2;
    grid-row-end: 3;
}

.parcour_elmt2{
    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 4;
    grid-row-end: 5;
}

.parcour_elmt3{
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 6;
    grid-row-end: 7;
}

.parcour_elmt4{
    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 8;
    grid-row-end: 9;
}


/* -------------------------------------personnality------------------------------------- */

#personnality{
    width: 100%;
}

.parentdivpersonnality{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.divpersonnality{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.descriptionpersonnality{
    font-style: italic;
    width: 250px;
    text-align: center;
}

.descriptionpersonnality2{
    font-style: italic;
    width: 400px;
    text-align: center;
}

.imgpersonnality{
    width: 150px;
    height: 150px;
}

/* ------------------------------------- Personnality ------------------------------------- */

.personnality_svg{
    width: 125px;
    height: 125px;
    overflow: visible;
    fill: var(--dark-mode-on);
}
.personnality_svg path{
    transition: 1s ease;
}

/* ------------------------------------- Personnality - Computer ------------------------------------- */

.div_weight_computer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.path_bar1_computer{
    transform: scaleX(var(--computer_svg_width_random1)) translateX(5%);
}

.path_bar2_computer{
    transform: scaleX(var(--computer_svg_width_random2)) translateX(5%);
}

.path_bar3_computer{
    transform: scaleX(var(--computer_svg_width_random3)) translateX(5%);
}

.path_bar4_computer{
    transform: scaleX(var(--computer_svg_width_random4)) translateX(5%);
}

.path_mouse_computer{
    transform: translate(var(--computer_svg_mouse_position_x), var(--computer_svg_mouse_position_y));
}


/* ------------------------------------- Personnality - Support ------------------------------------- */

.path_bar_mid_support{
    transform: translateY(-5%);
}

.path_bar_left_support{
    transform: translate(-5%, -5%);
}

.path_bar_right_support{
    transform: translate(5%, -5%);
}


/* ------------------------------------- Personnality - target ------------------------------------- */

.path_arrow_target{
    transform: translate(5%, -5%);
}


/* -------------------------------------footer------------------------------------- */

.div_social_media{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social_media_svg{
    width: 50px;
    height: 50px;
    cursor: pointer;
}