.bulletPointParcour{
  width: 60px;
  height: 60px;
  border-radius: 100px;
  transform: translateY(-100%) translateX(-10px);
  transition: 1s;
  opacity: 0;
  display: flex;
}

.pathBulletPointSideB{
  transform-origin: center;
  transition: 4s linear;
  transform: rotate(0deg);
}

.pathBulletPointSideBAnim{
  transform: rotate(360deg) !important;
}

.pathBulletPointSideA{
  transform-origin: center;
  transition: 4s linear;
  transform: rotate(0deg);
}

.pathBulletPointSideAAnim{
  transform: rotate(-360deg) !important;
}

.bulletPointParcour1{
  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 1;
  grid-row-end: 2;
}

.bulletPointParcour2{
  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 3;
  grid-row-end: 4;
}

.bulletPointParcour3{
  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 5;
  grid-row-end: 6;
}

.bulletPointParcour4{
  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 7;
  grid-row-end: 8;
}

.bulletPointParcourAnimation{
  transform: translateY(calc(((24 * var(--heightParcour))/100)/2)) translateX(-25px);
  opacity: 100;
}