
  .st0 {
    fill: #4273B8;
  }
  .st1 {
    fill: #80B6E3;
  }
  .st2 {
    fill: #3360AA;
  }
  .st3 {
    fill: #B1CFED;
  }
  .st4 {
    fill: #C2D8EF;
  }
  .st5 {
    fill: #ABCAEB;
  }
  .st6 {
    fill: #6A98D0;
  }
  .st7 {
    fill: #ADCBEC;
  }
  .st8 {
    fill: #99B2DD;
  }
  .st9 {
    fill: #ABC8EA;
  }
  .st10 {
    fill: #A6C4E8;
  }
  .st11 {
    fill: #B4D2EF;
  }
  .st12 {
    fill: #C7E2F6;
  }
  .st13 {
    fill: #A1BCE3;
  }
  .st14 {
    fill: #A4BEE4;
  }
  .st15 {
    fill: #A9C3E7;
  }
  .st16 {
    fill: #BAD7F2;
  }
  .st17 {
    fill: #A2B8DF;
  }
  .st18 {
    fill: #CAE3F6;
  }
  .st19 {
    fill: #C2DEF5;
  }
  .st20 {
    fill: #C6E0F5;
  }
  .st21 {
    fill: #88ABDA;
  }
  .st22 {
    fill: #E5EEF7;
  }
  .st23 {
    fill: #B4C8E8;
  }

