.aboutMeSvg {
    width: 125px;
    height: 125px;
    overflow: visible;
    fill: var(--dark-mode-on);
}

.aboutMeSvg path {
    transition: 1s ease;
}

.sport_svg{
    fill: none;
    stroke: var(--dark-mode-on);
    stroke-width: 30;
}

/* cooperative */

.path_bar_mid_support{
    transform: translateY(-5%);
}

.path_bar_left_support{
    transform: translate(-5%, -5%);
}

.path_bar_right_support{
    transform: translate(5%, -5%);
}

/* rigorous */

.path_arrow_target{
    transform: translate(5%, -5%);
}

/* sport */

.sport_svg{
    stroke-width: 30;
}

.path_body_sport{
    transform: rotate(1deg);
}
.path_body_sport_anim{
    transform: rotate(-1deg);
}

.path_head_sport{
    transform: rotate(1deg);
}
.path_head_sport_anim{
    transform: rotate(-1deg) translateX(2%);
}

.path_weight_small_sport_anim{
    transform: rotate(4deg) translate(5%, -5%);
}

.path_weight_small_sport{
    transform: rotate(4deg) translate(-1%, 1%);
}

.path_weight_big_sport_anim{
    transform: rotate(4deg) translate(5%, -5%);
}

.path_weight_big_sport{
    transform: rotate(4deg) translate(-1%, 1%);
}

/* bold */

.path_flag_dare{
    stroke: var(--dark-mode-on);
    stroke-width: 15;
    transform: translateY(-2%);
}

.path_stick_flag_dare{
    stroke: var(--dark-mode-on);
    stroke-width: 5;
    transform: translateY(-2%);
}

.path_stick_flag_dare_anim{
    transform: translateY(2%);
}

.path_flag_dare_anim{
    transform: translateY(2%);
}