.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact_div{
    margin: 64px;
    border-radius: 5px;
    padding: 32px;
    background-color: var(--main-color-20-no-opa);
    width: 50%;
}

.contact_form_field{
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
}

.contact_form_field label{
    padding: 4px;
    font-weight: 500;
    color: var(--dark-mode-off);
}

.contact_form_input{
    padding: 12px;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid var(--main-color);
    background-color:  var(--dark-mode-off);
}

.contact_form_input:focus{
    outline: none;
}

.contact_form_field_submit{
    display: flex;
    align-items: center;
    justify-content: right;
}

.contact_form_submit{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 64px;
    padding-right: 64px;
    border-radius: 5px;
    border: none;
    background-color: var(--main-color);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--dark-mode-off);
}

textarea{
    resize: none;
}

.description{
    text-align: center;
}

.popup{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    gap: 20px;
    height: 50px;
    margin-left: 50%;
    transform: translate(-50%, -100px);
    border-radius: 15px;
    background-color: var(--main-color-20-no-opa);
    padding: 20px;
    transition-duration: 0.2s;
    z-index: 15;
}

.popupAnim{
    transform: translate(-50%, 20px);
}

.popupErrorAnim {
    transform: translate(-50%, 20px);
}

.opa0{    
    opacity: 0;
}

@media (max-width: 1600px) {
    .contact_div{
        width: 60%;
    }
}

@media (max-width: 1400px) {
    .contact_div{
        width: 70%;
    }
}

@media (max-width: 800px) {
    .contact_form_field_submit{
        justify-content: center;
    }
    .contact_form_submit{
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 32px;
        padding-left: 32px;
    }
    .contact_div{
        padding: 16px;
    }
}

@media (max-width: 600px) {
    .description{
        width: 300px;
    }
}