#project{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swipper_element{
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swipper_image_container{
  width: 100%;
}

.swipper_buttons_container{
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.button_swipper_bar{
  width: 50px;
  height: 50px;
  background-color: var(--main-color-70-no-opa);
  padding: 15px;
  border: none;
  border-radius: 100%;
}

.img_swipper_bar{
  width: 100%;
  height: 100%;
}

.dpnone{
  display: none !important;
}
