.parcour {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}

h3{
  text-align: center;
}

#parcourSvg {
  width: 10px;
  height: var(--heightParcour);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
}

#parcourBarSvg {
  width: 10px;
  height: 10px;
  fill: var(--main-color-40-no-opa);
  stroke-width: 2;
  z-index: 12;
}

#parcourBarSvg2 {
  width: 10px;
  height: var(--heightParcour);
  stroke: var(--main-color);
  stroke-width: 4;
  fill-opacity: 0;
  z-index: 11;
}

.divtimeline {
  display: grid;
  grid-template-columns: 1fr 10px 1fr;
}

.parcourElmt {
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.parcourElmtChild {
  background-color: var(--main-color-10-no-opa);
  width: 600px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.parcourElmt h3 {
  font-size: 18px;
}

.parcourElmtDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.parcourElmtDetails p {
  font-size: 16px;
  text-align: center;
  padding: 15px;
}

.parcourElmtDetails a {
  text-decoration: none;
  font-size: 14px;
  text-align: center;
}

.parcourElmtDetails a:after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: rgb(212, 139, 27);
  transition: 300ms;
}

.parcourElmtDetails a:hover:after {
  width: 100%;
}

.parcourElmtDate {
  position: relative;
  margin-left: auto;
  padding: 0px 20px;
}

.parcourElmt1 {
  grid-column-start: 1;
  grid-column-end: 2;

  grid-row-start: 1;
  grid-row-end: 2;
}

.parcourElmt2 {
  grid-column-start: 3;
  grid-column-end: 4;

  grid-row-start: 2;
  grid-row-end: 3;
}

.parcourElmt3 {
  grid-column-start: 1;
  grid-column-end: 2;

  grid-row-start: 3;
  grid-row-end: 4;
}

.parcourElmt4 {
  grid-column-start: 3;
  grid-column-end: 4;

  grid-row-start: 4;
  grid-row-end: 5;
}

.parcourElmtChild a {
  text-decoration: none;
  color: var(--main-color);
  text-align: center;
  position: relative;
}

.parcourElmtChild a:after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: rgb(212, 139, 27);
  transition: width 300ms;
  position: absolute;
  left: 0;
  bottom: 0;
}

.parcourElmtChild a:hover:after {
  width: 100%;
}

.parcourTitle {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;
  font-size: 25px;
}

.middleTimelineContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.middleTimelineContainer1{
  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 1;
  grid-row-end: 2;
}

.middleTimelineContainer2{
  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 2;
  grid-row-end: 3;
}

.middleTimelineContainer3{
  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 3;
  grid-row-end: 4;
}

.middleTimelineContainer4{
  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 4;
  grid-row-end: 5;
}

.middleBar{
  width: 5px;
  height: 50%;
  background-color: var(--main-color-40-no-opa);
  stroke-width: 2;
  z-index: 12;
}

.middleBulletPoint{
  width: 20px;
  height: 20px;
  background-color: var(--main-color);
  border-radius: 50%;
  z-index: 13;
}

@media (max-width: 1600px) {
  .parcourElmtChild {
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 1400px) {
  .parcourElmtChild {
    width: 400px;
    height: 400px;
    padding: 10px;
  }
  .parcourElmtDetails p{
    padding: 10px;
  }
}

@media (max-width: 1000px) {
  .parcourElmtChild {
    padding: 10px;
  }
  .parcourElmtDetails p{
    padding: 5px;
  }
  .parcourElmtChild{
    justify-content: center;
  }
  .parcourElmtDetails{
    padding: 5px;
  }
  .divtimeline{
    grid-template-columns: 1fr 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .parcourElmt2 {
    grid-column-start: 1;
    grid-column-end: 2;
  
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .parcourElmt4 {
    grid-column-start: 1;
    grid-column-end: 2;
  
    grid-row-start: 4;
    grid-row-end: 5;
  }
}

@media (max-width: 600px) {
  .parcourElmtChild {
    width: 350px;
    height: 350px;
    padding: 5px;
  }
  .parcourElmtDetails p{
    padding: 0px;
  }
}

@media (max-width: 500px) {
  .parcourElmtChild {
    width: 300px;
    height: 300px;
    padding: 5px;
  }
  .parcourElmt h3 {
    font-size: 14px;
  }
  .parcourElmtDetails p{
    font-size: 14px;
  }
  .parcourElmtChild p{
    font-size: 14px;
  }
  .parcourElmtChild{
    justify-content: space-around;
  }
}
